.advantages-section {
  @include media(desktop) {
  }
}

.advantages-section-wrapper {
  padding-top: 63px;
  padding-bottom: 50px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 116px;
    padding-bottom: 16px;
    max-width: 1440px;
  }
}

.advantages-container {
  @include media(desktop) {
    padding: 0 117px;
  }
}

.advantages-title {
  text-align: center;
  margin-bottom: 0;

  @include media(desktop) {
    margin-bottom: 16px;
  }
}

.advantages-subtitle {
  text-align: center;
  margin-bottom: 2px;

  @include media(desktop) {
    margin-bottom: 16px;
  }
}

.advantages-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
  color: #4a5565;
  margin-bottom: 35px;

  @include media(desktop) {
    font-size: 18px;
    line-height: 1.55556;
    margin-bottom: 48px;
  }
}

.advantages-swiper-container {
  max-width: 221px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 100%;
  }
}

.advantages-swiper-container.show {
  visibility: visible;
}

.advantages-swiper-wrapper {
  @include media(desktop) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    width: 100%;
  }
}

.advantages-list-item {
  background: linear-gradient(135deg, #eff6ff 0%, #ecfeff 100%);
  border-radius: 16px;
  padding: 24px;
  width: 100% !important;
  max-width: 221px;
  min-height: 176px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  overflow: hidden;

  @include media(desktop) {
  }
}

.advantages-item-img-wrapper {
  box-shadow:
    0 2px 4px -2px rgba(0, 0, 0, 0.1),
    0 4px 6px -1px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: max-content;

  @include media(desktop) {
  }
}

.advantages-icon {
  stroke: #00a8e8;
  fill: none;
  min-width: 32px;

  @include media(desktop) {
  }
}

.advantages-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #364153;
  max-width: 147px;

  @include media(desktop) {
  }
}

.advantages-controls {
  @include media(desktop) {
  }
}

.advantages-dot {
  border-radius: 100%;
  width: 4px;
  height: 4px;
  transition: transform 0.3s ease-in-out;
  border-radius: 100%;
  background-color: #737173;
  cursor: pointer;
}

.advantages-dot.active {
  background-color: #171717;
  transform: scale(1.3);
}
