.cookie-banner-section {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  background: #fff;
  border: 1px solid #f3f4f6;
  border-radius: 24px;
  overflow: hidden;
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;

  @include media(desktop) {
    max-width: 768px;
  }
}

.cookie-banner-wrapper {
  padding: 24px;

  @include media(desktop) {
    padding: 32px;
  }
}

.cookie-banner-top-line {
  background: linear-gradient(180deg, #00a8e8 0%, #ffd700 50%, #7ed321 100%);
  width: 100%;
  min-height: 6px;

  @include media(desktop) {
  }
}

.cookie-banner-text-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 37px;

  @include media(desktop) {
    margin-bottom: 60px;
  }
}

.cookie-banner-top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 32px;

  @include media(desktop) {
  }
}

.cookie-banner-subtitle {
  font-family: 'Fredoka', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: #101828;

  @include media(desktop) {
  }
}

.cookie-banner-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}

.banner-close-icon {
  min-width: 20px;
  stroke: #99a1af;

  @include media(desktop) {
  }
}

.cookie-banner-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.625;
  color: #4a5565;

  @include media(desktop) {
  }
}

.cookie-banner-link {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.625;
  color: #4a5565;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;

  @include media(desktop) {
  }
}

.cookie-banner-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
  }
}

.cookie-accept-btn {
  background: linear-gradient(180deg, #00a8e8 0%, #00d4ff 100%);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
  color: #fff;
  width: 100%;
  max-width: 296px;

  @include media(desktop) {
    max-width: 343px;
  }
}

.cookie-decline-btn {
  border: 2px solid #e5e7eb;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
  color: #364153;
  width: 100%;
  max-width: 296px;

  @include media(desktop) {
    max-width: 347px;
  }
}

.show-cookie-banner {
  display: block;
}
