.contact-section {
  padding-bottom: 50px;
  scroll-margin-top: 70px;

  @include media(desktop) {
    padding-bottom: 100px;
    scroll-margin-top: 100px;
  }
}

.contact-bg-wrapper {
  background: linear-gradient(180deg, #00a8e8 0%, #0078a8 100%);

  @include media(desktop) {
  }
}

.contact-wrapper {
  padding-top: 32px;
  padding-bottom: 46px;
  max-width: 375px;
  margin: 0 auto;
  background-image: url(../img/contact/contact-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 26px;
    padding-bottom: 26px;
    max-width: 1440px;
    background-image: url(../img/contact/contact-bg-desk.jpg);
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-content-wrapper {
  @include media(desktop) {
  }
}

.contact-title {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;

  @include media(desktop) {
    margin-bottom: 16px;
  }
}

.contact-top-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
  color: #dbeafe;
  margin-bottom: 5px;

  @include media(desktop) {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 8px;
  }
}

.contact-bottom-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
  color: #dbeafe;
  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 32px;
  }
}

.contact-btn-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  max-width: 251px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 52px;

  @include media(desktop) {
    font-size: 18px;
    line-height: 1.55556;
    max-width: max-content;
    margin-bottom: 40px;
  }
}

.contact-cta-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #fff;
  border-radius: 33554400px;
  padding: 12px 40px;
  font-family: 'Fredoka', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
  text-align: center;
  color: #00a8e8;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding: 20px 40px;
  }
}

.contact-download-icon {
  stroke: #00a8e8;
  fill: none;
  min-width: 24px;

  @include media(desktop) {
  }
}

.contact-cta-link-span {
  @include media(desktop) {
  }
}

.contact-arrow-icon {
  min-width: 24px;

  @include media(desktop) {
  }
}
