.header {
  padding-top: 8px;
  padding-bottom: 8px;
  background: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.header-bg-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.header-container {
  padding: 0 15px;

  @include media(desktop) {
    padding: 0 80px;
  }
}

.nav {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 40px;
  padding: 5.5px 25.5px 5.5px 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
    justify-content: start;
    padding: 7px 40px;
  }
}

.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}

.header-logo-img {
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-left: auto;
  }
}

.nav-list-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-icon {
  stroke: #4a5565;
  min-width: 16px;
}

.nav-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #4a5565;
  transition: color 0.3s ease-in-out;

  &:hover,
  &.active {
  }
}

.header-cta-link {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: linear-gradient(180deg, #00a8e8 0%, #0078a8 100%);
    border-radius: 33554400px;
    padding: 12px 24px;
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.42857;
    color: #fff;
    margin-left: 24px;
  }
}

.header-download-icon {
  min-width: 16px;
  stroke: #fff;
  fill: none;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-icon {
  stroke: #171717;
}
