.privacy-body {
  .policy-section {
    background: linear-gradient(316deg, #fff 0%, #ffe8e8 100%);
  }
}

.terms-body {
  .policy-section {
    background: linear-gradient(315deg, #fff 0%, #dcf9fe 100%);
  }
}

.cookies-body {
  .policy-section {
    background: linear-gradient(315deg, #fff 0%, #f4f8d7 100%);
  }
}

.policy-section {
  padding-top: 100px;
  padding-bottom: 80px;

  @include media(desktop) {
    padding-top: 120px;
    padding-bottom: 100px;
  }
}

.policy-main-title {
  font-family: 'Fredoka', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
  color: #101828;
  margin-bottom: 12px;

  @include media(desktop) {
    font-size: 48px;
    line-height: 1;
  }
}

.policy-date-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
  color: #99a1af;
  margin-bottom: 30px;

  @include media(desktop) {
    margin-bottom: 40px;
  }
}

.policy-bg-wrapper {
  box-shadow:
    0 8px 10px -6px rgba(0, 0, 0, 0.1),
    0 20px 25px -5px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #fff;
  border-radius: 24px;
  padding: 32px;

  @include media(desktop) {
    padding: 48px;
  }
}

.policy-title {
  font-family: 'Fredoka', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  color: #1e2939;
  margin-left: 12px;
  margin-bottom: 16px;
  position: relative;

  &::before {
    content: '';
    width: 4px;
    height: 28px;
    border-radius: 33554400px;
    background: linear-gradient(180deg, #00a8e8 0%, #00d4ff 100%);
    position: absolute;
    left: -12px;
    top: 0;
  }

  @include media(desktop) {
    font-size: 24px;
    line-height: 1.33333;
  }
}

.policy-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #4a5565;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include media(desktop) {
    font-size: 16px;
    line-height: 1.75;
  }
}

.policy-list {
}

.policy-item {
  display: flex;
  align-items: start;
  gap: 8px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #4a5565;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 16px;
  }

  @include media(desktop) {
    font-size: 16px;
    line-height: 1.75;
  }
}

.policy-chevron-icon {
  stroke: #00a8e8;
  fill: none;
  min-width: 16px;
}

.policy-span {
  font-weight: 700;
}

.policy-link {
  font-weight: 700;
}

.policy-cookies-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 25px;

  @include media(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: center;
    margin-bottom: 20px;
  }
}

.policy-cookies-item {
  border-radius: 16px;
  padding: 17px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 248px;

  &:nth-child(1) {
    background: rgba(0, 168, 232, 0.03);
    border: 1px solid rgba(0, 168, 232, 0.25);

    .cookies-title-circle {
      background: #00a8e8;
    }
  }

  &:nth-child(2) {
    background: rgba(126, 211, 33, 0.03);
    border: 1px solid rgba(126, 211, 33, 0.25);

    .cookies-title-circle {
      background: #7ed321;
    }
  }

  &:nth-child(3) {
    background: rgba(255, 215, 0, 0.03);
    border: 1px solid rgba(126, 211, 33, 0.25);

    .cookies-title-circle {
      background: #ffd700;
    }
  }

  &:nth-child(4) {
    background: rgba(255, 92, 147, 0.03);
    border: 1px solid rgba(255, 92, 147, 0.25);

    .cookies-title-circle {
      background: #ff5c93;
    }
  }

  @include media(desktop) {
    max-width: 524px;
  }
}

.cookies-title-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.42857;
  color: #1e2939;
  margin-bottom: 8px;

  @include media(desktop) {
  }
}

.cookies-title-circle {
  border-radius: 33554400px;
  min-width: 12px;
  height: 12px;

  @include media(desktop) {
  }
}

.cookies-type-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: #6a7282;
  margin-bottom: 4px;

  @include media(desktop) {
  }
}

.cookies-item-span {
  font-weight: 700;

  @include media(desktop) {
  }
}

.cookies-purpose-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: #6a7282;

  @include media(desktop) {
  }
}
