<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <div class="about-text-wrapper">
          <div class="section-icon-wrapper about-icon-wrapper">
            <svg class="section-title-icon" width="36" height="36">
              <use href="./img/sprite.svg#icon-pick"></use>
            </svg>
          </div>
          <h2 class="section-title about-title">Mine Precious Gems</h2>
          <p class="section-subtitle about-subtitle">Every Rock Holds Value</p>
          <div class="about-text-container">
            <p class="about-text">
              Explore areas rich with diamonds, rubies, emeralds, and rare
              minerals.
            </p>
            <p class="about-text">
              Smash rocks, grab the good stuff, and watch your bag fill up with
              shiny treasures. The more you mine, the more your town can grow.
            </p>
            <p class="about-text">
              Each tap gets you from basic rocks to shiny gems - you can
              actually see yourself getting better.
            </p>
          </div>
        </div>
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="576"
            height="320"
          />
          <source
            srcset="./img/about/about-img-mob.png"
            width="324"
            height="259"
          />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="324"
            height="259"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
