<section class="advantages-section section" id="advantages">
  <div class="advantages-section-wrapper">
    <div class="container advantages-container">
      <h2 class="section-title advantages-title">Why Play Stone Craft</h2>
      <p class="section-subtitle advantages-subtitle">A Builder with Sparkle</p>
      <p class="advantages-text">
        It's simple enough for anyone to enjoy, yet satisfying enough to keep
        building.
      </p>
      <div class="advantages-swiper-container">
        <ul class="swiper-wrapper advantages-swiper-wrapper">
          <li class="swiper-slide advantages-list-item">
            <div class="advantages-item-img-wrapper">
              <svg class="advantages-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-pick"></use>
              </svg>
            </div>
            <p class="advantages-item-text">Casual mining mechanics</p>
          </li>
          <li class="swiper-slide advantages-list-item">
            <div class="advantages-item-img-wrapper">
              <svg class="advantages-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-town"></use>
              </svg>
            </div>
            <p class="advantages-item-text">Town-building progression</p>
          </li>
          <li class="swiper-slide advantages-list-item">
            <div class="advantages-item-img-wrapper">
              <svg class="advantages-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-lightning"></use>
              </svg>
            </div>
            <p class="advantages-item-text">Upgrade strategy</p>
          </li>
          <li class="swiper-slide advantages-list-item">
            <div class="advantages-item-img-wrapper">
              <svg class="advantages-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-trend"></use>
              </svg>
            </div>
            <p class="advantages-item-text">Resource management</p>
          </li>
          <li class="swiper-slide advantages-list-item">
            <div class="advantages-item-img-wrapper">
              <svg class="advantages-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
            </div>
            <p class="advantages-item-text">Bright and cheerful design</p>
          </li>
        </ul>
      </div>
      <div class="controls advantages-controls">
        <button
          class="arrow-btn"
          id="advantagesLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <div class="dots">
          <div class="advantages-dot active"></div>
          <div class="advantages-dot"></div>
          <div class="advantages-dot"></div>
          <div class="advantages-dot"></div>
          <div class="advantages-dot"></div>
        </div>
        <button
          class="arrow-btn"
          id="advantagesRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
