<section id="cookie-banner" class="cookie-banner-section">
  <div class="cookie-banner-top-line"></div>
  <div class="cookie-banner-wrapper">
    <div class="cookie-banner-text-wrapper">
      <div class="cookie-banner-top-wrapper">
        <p class="cookie-banner-subtitle">We use cookies</p>
        <button
          class="cookie-banner-close-btn"
          type="button"
          aria-label="Close cookie banner"
        >
          <svg class="banner-close-icon" width="20" height="20">
            <use href="./img/sprite.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <p class="cookie-banner-text">
        We use cookies to enhance your browsing experience, analyze site
        traffic, and personalize content. By clicking "Accept All", you consent
        to our use of cookies.
      </p>
      <a href="./cookies-policy.html" class="cookie-banner-link">Learn more</a>
    </div>
    <div class="cookie-banner-buttons">
      <button class="cookie-decline-btn" id="cookie-decline">
        <span class="banner-btn-span">Reject All</span>
      </button>
      <button class="cookie-accept-btn" id="cookie-accept">
        Accept All Cookies ✨
      </button>
    </div>
  </div>
</section>
