<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="contact-wrapper">
      <div class="container contact-container">
        <div class="contact-content-wrapper">
          <h2 class="section-title contact-title">
            Ready to Build a Gemstone Empire?
          </h2>
          <p class="contact-top-text">Start with a stone.</p>
          <p class="contact-bottom-text">End with a town of diamonds.</p>
          <p class="contact-btn-text">
            Download Stone Craft now and begin crafting your fortune.
          </p>
          <a
            class="contact-cta-link"
            href="https://play.google.com/store/apps/details?id=at.artingame.stonecraft&hl=en&gl=us"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="contact-download-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-download"></use></svg
            ><span class="contact-cta-link-span">Download Now</span
            ><svg class="contact-arrow-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
