<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <div class="gameplay-text-wrapper">
          <div class="section-icon-wrapper gameplay-icon-wrapper">
            <svg class="section-title-icon" width="36" height="36">
              <use href="./img/sprite.svg#icon-town"></use>
            </svg>
          </div>
          <h2 class="section-title gameplay-title">Build Your Own Town</h2>
          <p class="section-subtitle gameplay-subtitle">
            From Camp to Prosperous Settlement
          </p>
          <p class="gameplay-top-text">
            Stone Craft isn't just about mining — it's about creation.
          </p>
          <p class="gameplay-list-text">Use your collected resources to:</p>
          <div class="gameplay-text-container">
            <p class="gameplay-text">Construct new buildings</p>
            <p class="gameplay-text">Unlock production stations</p>
            <p class="gameplay-text">Expand territory</p>
            <p class="gameplay-text">Upgrade infrastructure</p>
          </div>
          <p class="gameplay-bottom-text">
            What starts as a tiny camp eventually becomes this incredible town
            that's basically made of gems.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/gameplay/gameplay-img-desk.png"
            media="(min-width: 1440px)"
            width="576"
            height="320"
          />
          <source
            srcset="./img/gameplay/gameplay-img-mob.png"
            width="324"
            height="259"
          />
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img-mob.png"
            alt="Screenshot of the game"
            width="324"
            height="259"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
