<section class="section hero-section" id="home">
  <div class="hero-top-wrapper">
    <div class="hero-bg-wrapper">
      <div class="container hero-container">
        <div class="hero-content-wrapper">
          <div class="hero-text-wrapper">
            <div class="hero-text-container">
              <h1 class="hero-title">Stone Craft</h1>
              <p class="hero-subtitle">Create Your Dream Mining Town</p>
              <p class="hero-text hero-top-text">
                Every rock's a mystery - you might find diamonds or just... more
                rocks.
              </p>
              <p class="hero-text hero-middle-text">
                In Stone Craft, you mine gemstones, collect precious resources,
                and turn empty land into a bustling town packed with diamonds
                and cool treasures.
              </p>
              <p class="hero-text hero-top-text-span">
                <span class="hero-span">Start small</span> — just you and a
                pickaxe.
              </p>
              <p class="hero-text hero-middle-text-span">
                <span class="hero-span">End powerful</span> — with a bustling
                settlement built on wealth and smart upgrades.
              </p>
              <p class="hero-text hero-bottom-text">
                Mine stuff, build things, make your town bigger, get rich.
                Simple as that.
              </p>
            </div>
            <div class="hero-btn-wrapper">
              <a
                class="hero-cta-link"
                href="https://play.google.com/store/apps/details?id=at.artingame.stonecraft&hl=en&gl=us"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="header-download-icon" width="20" height="20">
                  <use href="./img/sprite.svg#icon-download"></use></svg
                ><span class="header-cta-link-span"
                  >Download on Google Play</span
                ></a
              >
              <a class="hero-learn-link" href="./index.html#cta">
                <span class="header-cta-link-span">Learn More</span>
                <svg class="header-chevron-icon" width="20" height="20">
                  <use href="./img/sprite.svg#icon-chevron"></use></svg
              ></a>
            </div>
            <p class="hero-btn-text">Turn stone into fortune.</p>
          </div>
          <picture>
            <source
              srcset="./img/hero/hero-img-desk.png"
              media="(min-width: 1440px)"
              width="401"
              height="499"
            />
            <source
              srcset="./img/hero/hero-img-mob.png"
              width="169"
              height="227"
            />
            <img
              class="hero-img"
              src="./img/hero/hero-img-mob.png"
              alt="Screenshot of the game"
              width="169"
              height="227"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
