<div class="context-menu">
  <div class="container context-container">
    <button class="close-btn" type="button" aria-label="Close mobile menu">
      <svg class="close-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="context-nav">
      <ul class="context-nav-list">
        <li class="context-list-item">
          <svg class="header-icon" width="16" height="16">
            <use href="./img/sprite.svg#icon-home"></use>
          </svg>
          <a class="context-list-link" href="./index.html#home">Home</a>
        </li>
        <li class="context-list-item">
          <svg class="header-icon" width="16" height="16">
            <use href="./img/sprite.svg#icon-gameplay"></use>
          </svg>
          <a class="context-list-link" href="./index.html#gameplay">Gameplay</a>
        </li>
        <li class="context-list-item">
          <svg class="header-icon" width="16" height="16">
            <use href="./img/sprite.svg#icon-upgrades"></use>
          </svg>
          <a class="context-list-link" href="./index.html#upgrades">Upgrades</a>
        </li>
        <li class="context-list-item">
          <svg class="header-icon" width="16" height="16">
            <use href="./img/sprite.svg#icon-world"></use>
          </svg>
          <a class="context-list-link" href="./index.html#world">World</a>
        </li>
        <li class="context-list-item">
          <svg class="header-icon" width="16" height="16">
            <use href="./img/sprite.svg#icon-faq"></use>
          </svg>
          <a class="context-list-link" href="./index.html#faq">FAQ</a>
        </li>
      </ul>
      <a
        class="context-cta-link"
        href="https://play.google.com/store/apps/details?id=at.artingame.stonecraft&hl=en&gl=us"
        target="_blank"
        rel="noopener noreferrer"
        ><svg class="header-download-icon" width="16" height="16">
          <use href="./img/sprite.svg#icon-download"></use></svg
        ><span class="header-cta-link-span">Download</span></a
      >
    </nav>
  </div>
</div>
