<section class="reviews-section section" id="reviews">
  <div class="reviews-section-wrapper">
    <div class="container reviews-container">
      <div class="reviews-top-rating-wrapper">
        <svg class="rating-top-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-rating"></use>
        </svg>
        <svg class="rating-top-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-rating"></use>
        </svg>
        <svg class="rating-top-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-rating"></use>
        </svg>
        <svg class="rating-top-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-rating"></use>
        </svg>
        <svg class="rating-top-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-rating"></use>
        </svg>
      </div>
      <h2 class="section-title reviews-title">What Players Say</h2>
      <p class="reviews-text">Loved by millions of players worldwide</p>
      <div class="reviews-swiper-container">
        <ul class="swiper-wrapper reviews-swiper-wrapper">
          <li class="swiper-slide reviews-list-item">
            <div class="reviews-item-rating-wrapper">
              <svg class="rating-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-rating"></use>
              </svg>
              <svg class="rating-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-rating"></use>
              </svg>
              <svg class="rating-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-rating"></use>
              </svg>
              <svg class="rating-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-rating"></use>
              </svg>
              <svg class="rating-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-rating"></use>
              </svg>
            </div>
            <p class="reviews-item-text">
              “Didn't expect to get hooked on this but here I am, three hours
              later still upgrading my town lol. It feels like you're always
              making progress, which is nice. Watching my town get bigger is
              really satisfying.”
            </p>
            <p class="reviews-item-name">Ethan R.</p>
          </li>
          <li class="swiper-slide reviews-list-item">
            <div class="reviews-item-rating-wrapper">
              <svg class="rating-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-rating"></use>
              </svg>
              <svg class="rating-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-rating"></use>
              </svg>
              <svg class="rating-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-rating"></use>
              </svg>
              <svg class="rating-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-rating"></use>
              </svg>
              <svg class="rating-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-rating"></use>
              </svg>
            </div>
            <p class="reviews-item-text">
              “The gemstone visuals are bright and satisfying. Mining feels
              smooth and simple, but upgrading adds a layer of strategy. It’s
              perfect for relaxing after work. I always feel like I’ve
              accomplished something.”
            </p>
            <p class="reviews-item-name">Mia L.</p>
          </li>
          <li class="swiper-slide reviews-list-item">
            <div class="reviews-item-rating-wrapper">
              <svg class="rating-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-rating"></use>
              </svg>
              <svg class="rating-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-rating"></use>
              </svg>
              <svg class="rating-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-rating"></use>
              </svg>
              <svg class="rating-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-rating"></use>
              </svg>
              <svg class="rating-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-rating"></use>
              </svg>
            </div>
            <p class="reviews-item-text">
              “The upgrades feel fair - getting a bigger backpack and moving
              faster actually makes a real difference in how the game plays. It
              keeps things fresh without being complicated. Great casual
              builder.”
            </p>
            <p class="reviews-item-name">Lucas T.</p>
          </li>
          <li class="swiper-slide reviews-list-item">
            <div class="reviews-item-rating-wrapper">
              <svg class="rating-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-rating"></use>
              </svg>
              <svg class="rating-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-rating"></use>
              </svg>
              <svg class="rating-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-rating"></use>
              </svg>
              <svg class="rating-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-rating"></use>
              </svg>
              <svg class="rating-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-rating"></use>
              </svg>
            </div>
            <p class="reviews-item-text">
              “I enjoy how clean and colorful the design is. It doesn’t
              overwhelm you with features. It’s just a steady loop of mining and
              building that feels good every time.”
            </p>
            <p class="reviews-item-name">Olivia K.</p>
          </li>
          <li class="swiper-slide reviews-list-item">
            <div class="reviews-item-rating-wrapper">
              <svg class="rating-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-rating"></use>
              </svg>
              <svg class="rating-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-rating"></use>
              </svg>
              <svg class="rating-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-rating"></use>
              </svg>
              <svg class="rating-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-rating"></use>
              </svg>
              <svg class="rating-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-rating"></use>
              </svg>
            </div>
            <p class="reviews-item-text">
              “The Golden Pickaxe power-up was a great surprise. It makes mining
              faster and feels rewarding. The game scales nicely as you unlock
              new zones.”
            </p>
            <p class="reviews-item-name">Daniel M.</p>
          </li>
        </ul>
      </div>
      <div class="controls reviews-controls">
        <button
          class="arrow-btn"
          id="reviewsLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <div class="dots">
          <div class="reviews-dot active"></div>
          <div class="reviews-dot"></div>
          <div class="reviews-dot"></div>
          <div class="reviews-dot"></div>
          <div class="reviews-dot"></div>
        </div>
        <button
          class="arrow-btn"
          id="reviewsRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
