<section class="section upgrades-section" id="upgrades">
  <div class="upgrades-bg-wrapper">
    <div class="container upgrades-container">
      <div class="upgrades-content-wrapper">
        <div class="upgrades-text-wrapper">
          <div class="section-icon-wrapper upgrades-icon-wrapper">
            <svg class="section-title-icon" width="36" height="36">
              <use href="./img/sprite.svg#icon-lightning"></use>
            </svg>
          </div>
          <h2 class="section-title upgrades-title">Smart Upgrades</h2>
          <p class="section-subtitle upgrades-subtitle">
            Work Faster. Carry More. Earn Bigger.
          </p>
          <p class="upgrades-top-text">
            As your town grows, so do your abilities.
          </p>
          <p class="upgrades-list-text">Upgrade:</p>
          <div class="upgrades-text-container">
            <p class="upgrades-text">Backpack space</p>
            <p class="upgrades-text">Movement speed</p>
            <p class="upgrades-text">Mining power</p>
            <p class="upgrades-text">Special tools</p>
          </div>
          <p class="upgrades-middle-text">
            Get better pickaxes and other tools that make mining way faster.
          </p>
          <p class="upgrades-bottom-text">
            The smarter you upgrade, the faster you expand.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/upgrades/upgrades-img-desk.png"
            media="(min-width: 1440px)"
            width="576"
            height="320"
          />
          <source
            srcset="./img/upgrades/upgrades-img-mob.png"
            width="324"
            height="259"
          />
          <img
            class="upgrades-img"
            src="./img/upgrades/upgrades-img-mob.png"
            alt="Screenshot of the game"
            width="324"
            height="259"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
